backcall==0.2.0
beautifulsoup4==4.9.3
boto3==1.17.105
botocore==1.20.105
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.2
crypto==1.4.1
cryptography==3.4.7
dataclasses==0.6
decorator==5.0.9
elasticache-auto-discovery==1.0.0
google-api-core==2.0.1
google-api-python-client==2.20.0
google-auth==2.0.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
HTMLParser==0.0.2
httplib2==0.19.1
idna==2.10
ipdb==0.13.9
ipython==7.25.0
ipython-genutils==0.2.0
jedi==0.18.0
jmespath==0.10.0
matplotlib-inline==0.1.2
Naked==0.1.31
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pkg_resources==0.0.0
prompt-toolkit==3.0.19
protobuf==3.17.3
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.10.1
Pygments==2.9.0
PyJWT==2.1.0
pymemcache==3.4.4
PyMySQL==1.0.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
redis==3.5.3
requests==2.25.1
rsa==4.7.2
s3transfer==0.4.2
shellescape==3.8.1
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
traitlets==5.0.5
unicode==2.8
uritemplate==3.0.1
urllib3==1.26.6
wcwidth==0.2.5
